@font-face {
  font-family: "PT Sans Narrow";
  src: url("../fonts/ptsans.woff2") format("woff2"),
       url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans Narrow";
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
       url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  max-width: 1200px;
  min-width: 768px;
  margin: 0 auto;

  background-color: #ffffff;
}

.main-header {
  position: relative;
  width: 100%;
}

.main-logo {
  position: absolute;
  top: 0;
  left: 44.3%;
  z-index: 1;
}

.main-navigation {
  width: 88%;
  padding-left: 6%;
  padding-right: 6%;

  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.site-navigation {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation .item-navigation:first-child {
  margin-right: 30px;
}

.site-navigation .item-navigation:nth-child(3) {
  margin-left: 155px;
  text-align: right;
}

.site-navigation .item-navigation:last-child {
  margin-left: auto;
  text-align: right;
}

.item-navigation {
  width: 20%;
  padding: 15px 0;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #99cccc;
}

.site-navigation a:active {
  color: #cccccc;
}

.site-navigation .current {
  color: #766357;
  cursor: pointer;
}

.greeting {
  padding-top: 76px;
  padding-bottom: 80px;
  text-align: center;
  margin-bottom: 54px;
  position: relative;

  background-color: #d5e6f0;
  background-image: url("../img/background-photo.jpg");
  background-size: 100%;
  background-position: 20% 29%;
  background-repeat: no-repeat;
}

.greeting::after {
  position: absolute;
  bottom: 0;
  left: 0;

  content: "";
  display: block;
  width: 100%;
  height: 67px;

  background-image: url("../img/mask.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  transform: scaleY(-1);
}

.reservation {
  width: 100%;
  padding: 0;
  margin: 0;

  background-color: #6699cc;
  background-image: url("../img/filter-background.jpg");
  background-size: 100%;
  background-position: 20% 29%;
  background-repeat: no-repeat;
}

.reservation-form {
  width: 88%;
  padding: 0;
  margin: 0;
  padding-right: 6%;
  padding-left: 6%;
  padding-top: 30px;
  padding-bottom: 10px;
  display: flex;
  
  color: #ffffff;
}

.hotel-comforts,
.hotel-class {
  width: 22.75%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.reservation-form .hotel-comforts {
  margin-right: 12px;
}

.reservation-form .hotel-filter {
  width: 30%;
  margin-left: auto;
}

.reservation-form legend {
  padding-bottom: 25px;

  font-size: 16px;
  font-weight: 700;
}

.reservation-form fieldset {
  padding: 0;
  margin: 0;

  border: none;
}

.reservation-form input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

.reservation-item {
  display: block;
  height: 30px;
  padding-bottom: 15px;
}

.reservation-form input[type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  width: 27px;
  height: 23px;
  padding-right: 15px;
  vertical-align: bottom;
  
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.reservation-form input[type="checkbox"] + label:hover::before,
.reservation-form input[type="checkbox"]:focus + label {
  opacity: 0.3;
}

.reservation-form input[type="checkbox"]:checked + label::before {
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
}

.reservation-form input[type="checkbox"]:disabled + label::before {
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.reservation-form input[type="checkbox"]:checked:disabled + label::before {
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.main-page,
.inner-page {
  width: 100%;
  margin: 0;
  padding: 0;
}

.reasons {
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 52px;

  text-align: center;
}

.reasons b {
  display: block;
  width: 445px;
  margin: 0 auto;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.five-reasons {
  margin-top: 28px;
  margin-bottom: 52px;
  line-height: 24px;
}

.selected-reasons-list {
  display: flex;
  width: 100%;
  min-height: 256px;
  padding: 0;
  margin: 0;

  background-color: #81b3d2;
}

.selected-reason-item {
  width: 33.333%;

  color: #ffffff;
}

.selected-reasons-list h3 {
  font-size: 21px;
  line-height: 21px;
  padding-top: 30px;

  font-weight: 700;
  color: #ffffff;
}

.reason-pic1 {
  width: 66.666%;

  background-color: #fefefe;
  background-image: url("../img/reason1.jpg");
  background-size: 100%;
  background-position: 20% 53%;
  background-repeat: no-repeat;
}

.reason-pic2 {
  width: 66.666%;

  background-color: #fefefe;
  background-image: url("../img/reason2.jpg");
  background-size: 100%;
  background-position: 20% 53%;
  background-repeat: no-repeat;
}

.features-list {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;

  list-style: none;
}

.feature-item {
  width: 33.333%;
  padding: 60px 45px 70px;
 }

.features-list h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
}

.feature-item:first-child span {
  display: inline-block;
  width: 74px;
  height: 72px;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
}

.feature-item:nth-child(2) span {
  display: inline-block;
  width: 75px;
  height: 72px;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
}

.feature-item:last-child span {
  display: inline-block;
  width: 64px;
  height: 76px;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
}

.reason-pic2 {
  background-color: #ffcc99;
  background-image: url("../img/reason2.jpg");
  background-repeat: no-repeat;
}

.reasons-list {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;

  list-style: none;
  background-color: #eeeeee;
}

.reasons-list h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
}

.reason-item {
  width: 33.333%;
  padding: 15px 45px 60px;
}

.hotels {
  margin: 0;
  padding: 0;
  width: 100%;
}

.hotels-list {
  margin: 0;
  padding: 0;
  width: 100%;

  list-style: none;
  border-top: 1px solid #e5e5e5;
}

.hotels .hotels-list:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.hotels-list h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.hotels-item {
  display: flex;
  width: 88%;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.hotels-item img {
  margin-right: 31px;
}

.hotels-info {
  width: 53%;
  display: flex;
  flex-direction: column;
}

.hotels-info h3 {
  padding: 0;
  margin: 0;
  margin-top: -5px;
  margin-bottom: 6px;
}

.hotels-info p {
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
}

.hotels-name {
  line-height: 26px;
  color: #000000;
}

.type-price-wrapper {
  display: flex;
}

.btn-wrapper {
  display: flex;
}

.type-price-wrapper .hotels-type {
  margin-right: 39px;
}

.hotels-rating {
  width: 22%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.rating-star {
  display: inline-block;
  height: 17px;
  margin-bottom: 32px;

  font-size: 0;
  text-align: right;

  background-color: #ffffff;
  background-image: url("../img/star.svg");
  background-repeat: space;
}

.rating-star-four {
  width: 87px;
}

.rating-star-three {
  width: 64px;
}

.rating-star-two {
  width: 40px;
}

.rating-number {
  box-sizing: border-box;
  width: 110px;
  height: 27px;
  padding: 3px 13px;

  color: #666666;

  background-color: #f2f2f2;
}

.hotels-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  width: 88%;
  padding-left: 6%;
  padding-right: 6%;

  list-style: none;
}

.hotels-found {
  min-width: 11.1%;
  display: flex;
  margin-right: 49px;
}

.hotels-found p {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.hotels-sort {
  width: 53%;
  display: flex;
  align-items: center;
  
  font-size: 12px;
  line-height: 18px;
}

.hotels-sort p {
  padding-right: 40px;
  color: #000000;
}

.hotels-sort a:not(:last-child) {
  margin-right: 33px;
}

.hotels-sort a {
  color: #cacaca;
  border-bottom: 1px dotted #81b3d2;
}

.hotels-sort a:hover,
.hotels-sort a:focus {
  color: #81b3d2;
}

.hotels-sort a:not(.active-url):active {
  color: #000000;
  border-bottom: none;
}

.hotels-sort .active-url {
  color: #81b3d2;
  border-bottom: none;
}

.hotels-order {
  width: 11.1%;
  margin-left: auto;

  font-size: 0;
  text-align: right;
}

.hotels-order a:last-child {
  padding-left: 12px;
}

.hotels-order-url .svg-order {
  fill: #cacaca;
}

.hotels-order-url:not(.active-url):hover .svg-order,
.hotels-order-url:not(.active-url):focus .svg-order {
  fill: #81b3d2;
}

.hotels-order-url:not(.active-url):active .svg-order {
  fill: #000000;
}

.active-url .svg-order {
  fill: #81b3d2;
}

.hotels-name:hover,
.hotels-name:focus {
  color: #81b3d2;
}

.hotels-name:active {
  color: #cacaca;
}

.details-btn {
  display: inline-block;
  box-sizing: border-box;
  width: 110px;
  height: 27px;
  margin-right: 6px;
  padding: 3px 16px;

  color: #ffffff;
  font-weight: 700;
  
  background-color: #81b3d2;
}

.details-btn:hover,
.details-btn:focus {
  background-color: #669ec0;
}

.details-btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.reserve-btn {
  display: inline-block;
  box-sizing: border-box;
  width: 142px;
  height: 27px;

  color: #ffffff;
  font-weight: 700;
  padding: 3px 16px;

  background-color: #766357;
}

.reserve-btn:hover,
.reserve-btn:focus {
  background-color: #604e43;
}

.reserve-btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.reservation-main {
  width: 100%;
  text-align: center;

  background-color: #ffffff;
}

.reservation-main b {
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.reservation-main p {
  margin-top: 28px;
  margin-bottom: 50px;

  line-height: 24px;
}

.hotel-search-btn {
  width: 568px;
  min-height:86px; 

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
}

.hotel-search-btn:hover,
.hotel-search-btn:focus {
  background-color: #604e43;
}

.hotel-search-btn:active {
  color: rgba(255, 255, 255, 0.3);
  
  background-color: #503e33;
}

.hotel-search-form {
  width: 570px;
  min-height: 395px;
  margin: 0 auto;
  padding: 55px;
  margin-bottom: 50px;
  box-sizing: border-box;

  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
  box-shadow: 0 0 30px 0 #cccccc;
}

.adult-children {
  display: flex;
  width: 460px;
 }

.hotel-search-form .hotel-search-item {
  position: relative;
}

.hotel-search-item:nth-of-type(3) input[type="text"],
.hotel-search-item:nth-of-type(4) input[type="text"] {
  text-align: center;
}

.hotel-search-item input[type="text"] {
  padding: 6px 15px;
  box-sizing: border-box;
 
  font:inherit;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}

.hotel-search-item:first-child input[type="text"],
.hotel-search-item:nth-child(2) input[type="text"] {
  margin-bottom: 30px;
}

.hotel-search-item input[type="text"]:hover {
  background-color: #ebebeb;
  border: 2px solid #ebebeb;
}

.hotel-search-item input[type="text"]:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.check-in-item input[type="text"],
.check-out-item input[type="text"] {
  width: 346px;
}

.adult-item input[type="text"],
.children-item input[type="text"] {
  width: 114px;
}

.find-btn {
  width: 458px;
  height: 58px;
  margin-top: 55px;
  
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.find-btn:hover,
.find-btn:focus {
  background-color: #669ec0;
}

.find-btn:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.form-btn {
  font-size: 0;
  
  border: none;
  outline: none;
  background-color: transparent;
}

.calendar-btn {
  position: absolute;
  top: 8px;
  right: 17px;
}

.decrease-btn {
  position: absolute;
  top: 8px;
  left: 15px;
}

.increase-btn {
  position: absolute;
}

.form-btn .svg-calendar {
  fill: #cacaca;
}

.form-btn:hover .svg-calendar,
.form-btn:focus .svg-calendar {
  fill: #000000;
}

.form-btn:active .svg-calendar {
  fill: #81b3d2;
}

.form-btn .svg-lines {
  stroke: #a9a9a9;
}

.form-btn:hover .svg-lines,
.form-btn:focus .svg-lines {
  stroke: #000000;
}

.form-btn:active .svg-lines {
  stroke: #81b3d2;
}

.map {
  width: 100%;

  background-image: url("../img/map.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.main-footer {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 35px;
  padding-bottom: 35px;
}

.footer-hashtag {
  margin: 0;
  padding: 0;
  width: 33.333%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.social-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.333%;

  list-style: none;
}

.button-social {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  width: 46px;
  height: 48px;

  font-size: 0;
  
  background-color: #81b3d2;
}

.button-social .svg-social {
  fill: #ffffff;
}

.button-social-tw {
  padding: 17px 15px;
  margin-right: 5px;
}

.button-social-fb {
  padding: 13px 17px;
  margin-right: 5px;
}

.button-social-yt {
  padding: 16px 13px;
}

.button-social:hover,
.button-social:focus {
  background-color: #669ec0;
}

.button-social:active {
  background-color: #5496bd;
}

.button-social:active .svg-social {
  opacity: 0.3;
}

.html-academy-btn {
  font-size: 0;
}

.html-academy-btn .svg-academy {
  fill: #231f20;
}

.html-academy-btn:hover .svg-academy,
.html-academy-btn:focus .svg-academy {
  fill: #81b3d2;
}

.html-academy-btn:active .svg-academy {
  fill: #bdbbbc;
}

.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.333%;
  margin-left: auto;
}

.footer-copyright p {
  margin-right: 5px;
  
  line-height: 26px;
  color: #000000;
}
